@font-face {
  font-family: regular;
  src: url("fonts/regular.ttf");
}
@font-face {
  font-family: medium;
  src: url("fonts/medium.ttf");
}
@font-face {
  font-family: bold;
  src: url("fonts/bold.ttf");
}
@font-face {
  font-family: title;
  src: url("fonts/title.ttf");
}
@font-face {
  font-family: ititle;
  src: url("fonts/title.ttf");
}
@font-face {
  font-family: button;
  src: url("fonts/bold.ttf");
}
@font-face {
  font-family: italic;
  src: url("fonts/italic.ttf");
}
@font-face {
  font-family: num;
  src: url("fonts/num.ttf");
}
@font-face {
  font-family: num-bold;
  src: url("fonts/num-bold.ttf");
}