
@font-face {
  font-family: pop;
  src: url("fonts/pop.ttf");
}
@font-face {
  font-family: popl;
  src: url("fonts/popl.ttf");
}
@font-face {
  font-family: popb;
  src: url("fonts/popb.ttf");
}
@font-face {
  font-family: popbb;
  src: url("fonts/popbb.ttf");
}
@font-face {
  font-family: popsb;
  src: url("fonts/popsb.ttf");
}
@font-face {
  font-family: popll;
  src: url("fonts/popll.ttf");
}
@font-face {
  font-family: popm;
  src: url("fonts/popm.ttf");
}
