
@font-face {
  font-family: mont;
  src: url("fonts/mont.ttf");
}
@font-face {
  font-family: montl;
  src: url("fonts/montl.ttf");
}
@font-face {
  font-family: montb;
  src: url("fonts/montb.ttf");
}
@font-face {
  font-family: montsb;
  src: url("fonts/montsb.ttf");
}
@font-face {
  font-family: montel;
  src: url("fonts/montel.ttf");
}
@font-face {
  font-family: montmd;
  src: url("fonts/montmd.ttf");
}
@font-face {
  font-family: rob;
  src: url("fonts/roboto.ttf");
}
@font-face {
  font-family: robb;
  src: url("fonts/robotob.ttf");
}
@font-face {
  font-family: robl;
  src: url("fonts/robotol.ttf");
}
@font-face {
  font-family: robbb;
  src: url("fonts/robotobb.ttf");
}
@font-face {
  font-family: robm;
  src: url("fonts/robotom.ttf");
}
@font-face {
  font-family: robt;
  src: url("fonts/robotot.ttf");
}
@font-face {
  font-family: play;
  src: url("fonts/play.ttf");
}