<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings> 
    <add name="dbConnection" connectionString="Password=linez123;Persist Security Info=True;User ID=linezuser;Initial Catalog=wheelhc_com_;Data Source=mssql.wheelhc.com"/>
  </connectionStrings>
 <appSettings>
    <add key="EmailUserName" value="wheelhc1@gmail.com" />
    <add key="EmailPassword" value="pakistan@125" />
    <add key="smtp" value="smtp.gmail.com" />
    <add key="Authentication" value="Password" />
    <add key="EmailPort" value="587" />
  </appSettings>
  <system.web>
 <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
<customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>


    <machineKey validationKey="1249E5E5513FD71CFBBA30E482F2A25BBE479404F57AC673A5418907EB9623EE53A32510294F82901EDCD01BC9BD38D0B1B57E9EC61AD132F180DD0709E53EA6" decryptionKey="E9B1398CB65E54B5A1A761C5894C69631410ED1DBFD5F8384754C580B027749B" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>
