$blue:#00ace7;
$darkblue:#0074a8;
$lightblue:#00abe6;
$yellow:#ffe600;
$text:#586975;
.gradient_bg
{
  background: linear-gradient(to bottom, $darkblue 0%, $lightblue 100%)!important;
}
@font-face {
  font-family: telenor;
  src: url('fonts/telenor.otf');
}
@font-face {
  font-family: tlight;
  src: url('fonts/tlight.otf');
}
@font-face {
  font-family: tbold;
  src: url('fonts/tbold.otf');
}
@font-face {
  font-family: source;
  src: url('fonts/source.ttf');
}
@font-face {
  font-family: slight;
  src: url('fonts/slight.ttf');
}

@media (max-width:420px)
{
  .col-xs-12
  {
    max-width: 100% !important;
    flex: 0 0 100%;
  }
}
h1, h2, h3, h4, h5, h6, a
{
  font-family: 'telenor', sans-serif;
}
b
{
  font-family: 'telenor';
  font-weight: 400;
}
strong
{
  font-family: 'tbold', sans-serif;
}
p, span, li
{
  font-family: 'source', sans-serif;
}
.m-less
{
  margin: 0px -15px 0px -15px;
}
.hidden
{
  display: none;
}
*
{
  box-sizing: border-box;
  font-family: 'oswald', sans-serif;
}
.title
{
  color:$blue;
  font-family: tbold;
  margin: 0px 0px 20px;
}
.btn-info
{
  padding: 12px 40px;
  background-color: $yellow;
  border:none;
  border-radius: 2px;
  transform: skewX(-15deg);
  transition: .2s ease;
  p
  {
    font-family: tbold !important;
    color:#111 !important;
    font-size: 14px !important;
    margin: 0px;
    transform: skew(15deg) !important;
  }
  &:hover
  {
    background: $lightblue;
    p
    {
      color:#fff !important;
    }
  }
}
ul
{
  margin: 0px;
  padding: 0px;
  li
  {
    list-style-type: none;
    display: block;
    a
    {
      text-decoration: none !important;
    }
  }
}
.link
{
  text-decoration: none !important;
  color:$blue;
  &:hover
  {
    color:$blue;
  }
}
html
{
  overflow-x: hidden !important;
}

body
{
  background-color: #fff;
  margin: 0px;
  position: relative;
  padding: 0px;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: $yellow;
  position: absolute; }

body::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #ffc633;
}
body::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: $text }


.fluid
{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

button:active
{
  transform: scale(.97);
}
button:focus
{
  box-shadow: none !important;
}
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';
@import 'animations.scss';
