.partners
{
  padding: 60px 0px;
  .partners-slider
  {
    margin:50px 0px 0px;
    .item
    {
      img
      {
        height: 100px;
        width:100%;
        display: block;
        margin:0 auto;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.owl-nav .owl-next {
  right: -50px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  background-color: #fcab03;
  color: #fff;
  display: inline-block;
  height: 38px;
  width: 38px;
  top: -40px;
  text-align: center;
  line-height: 38px;
  font-size: 18px;
  position: absolute;

}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background-color: #091426;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  top: 50%;
  transform: translateY(-50%);
}

.owl-nav .owl-prev {
  left: -50px;
}

.partners-slider:hover .owl-nav .owl-prev,
.partners-slider:hover .owl-nav .owl-next
{
  opacity: 1 !important;
}


.owl-prev,
.owl-next
{
  height: 60px;
  width: 60px;
  background: transparent;
  i
  {
    font-size: calc(.5vw + 1em);
    color:#111;
  }
  &:hover
  {
    i{
      color:#fff;
    }
  }
  border-radius: 100%;
  padding: 10px;
  opacity: 1;
  z-index: 10;
  transition: .1s linear;
  @media (max-width:767px) {
    height: 40px;
    width: 40px;
  }
  &::after
  {
    height: 100%;
    width: 100%;
    left: 0px;
    top:-1px;
    position: absolute;
    background: $blue;
    content: "";
    z-index: -1;
    border-radius: 100%;
    transform: scale(.4);
    opacity: .3;
    transition: .1s linear;
    @media (max-width:767px) {
      transform: scale(1);
      opacity: 1;
    }
  }
}
.owl-prev:hover,
.owl-next:hover
{
  &::after
  {
    transform: scale(1);
    opacity: 1;
  }
}

.owl-prev
{
  left: 2vw;
  @media (max-width:767px) {
    left: 1vw !important;
  }
}
.owl-next
{
  right: 2vw;
  @media (max-width:767px) {
    right: 1vw !important;
  }
}