script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
script(src='//players.brightcove.net/1752604059001/217b1cd8-54d5-4ac7-b213-268a81d5081f_default/index.min.js')
script(src="assets/js/master.js")

    
