<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
      <add name="dbConnection" connectionString="Data Source=67.228.101.76\MSSQLSERVER2008;Initial Catalog=playdatedb;Persist Security Info=True;User ID=linezplayuser;Password=linez123"/>
  </connectionStrings>
  <system.web>
 <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="900000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
