.news
{
  background: #fff;
  padding: 30px 20px;
  .news_box
  {
    margin-bottom: 20px;
    min-height: 400px;
    @media (max-width:576px)
    {
      min-height: 0px !important;
    }
    a
    {
      img
      {
        width:100%;
      }
      color:$red;
      .common_h
      {
        color:$red;
        &:hover
        {
          text-decoration: underline;
        }
      }
    }
  }
}
.news_detail
{
  padding: 20px 5px;
  img
  {
    width:  100%;
  }
  .common_title
  {
    margin: 20px  0px !important;
    font-size: 49px;
  }

}
.news_detail_menu
{
  background:#eee;
    padding: 20px;
  .news_menu
  {
    .news_box{
      margin-bottom:14px;
      .link
      {
        font-size: 12px;
      }
      .news_img
      {
        float: right;
      }
      h3
      {
        background:$black;
        font-size: 16px;
        padding: 5px 10px;
        line-height: 20px;
        margin: 0px;
        a
        {
          font-family: 'obold';
          color:$red;
        }
      }
      p
      {
        margin: 0px 0px 5px;
        line-height: 12px;
        font-size: 12px;
        width: 70%;
      }
    }
  }
}