.sponsers
{
  background-color:#fff;
  min-height: 100px;
  padding: 20px 20px 5px;
  .partner_brand_img
  {
    width:100%;
    text-align: center;
    align-self: center;
    position: relative;
    margin: 20px 0px;
    display: block;
    img
    {
     max-height: 200px;
    }
  }
  .brands
  {
    padding:20px 40px 0px;
    background-color: $black;
    text-align: center;
    .cols
    {
      display: inline-block;
      width: (100% / 5);
      padding:0px 12px;
      align-self: baseline;
      text-align: center;
      margin-bottom: 20px;
      @media(max-width:575px)
      {
        width: (100% / 4);
      }
      @media(max-width:420px)
      {
        width: (100% / 3);
      }
      @media(max-width:575px)
      {
        &:nth-child(9)
        {
          width: (100% / 2);
          text-align: right;
          img
          {
            max-width: 80px;
          }
        }
      }
      @media(max-width:420px)
      {
        &:nth-child(9)
        {
          width: (100% / 3);
          text-align: center;
          img
          {
            max-width: 80px;
          }
        }
      }
      @media(max-width:575px)
      {
        &:nth-child(10)
        {
          width: (100% / 2);
          text-align: left;
          img
          {
            max-width: 80px;
          }
        }
      }
      @media(max-width:480px)
      {
        &:nth-child(10)
        {
          width: 100%;
          text-align: center;
          img
          {
            max-width: 80px;
          }
        }
      }
      img
      { 
        max-height: 100px;
      }
    }
  }
}